################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeesPMWeb/.vs/EmployeesPMWeb/FileContentIndex
